* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    background-color: rgb(124, 53, 53);
    color: white;
    height: 30px;
    padding: 10px;
}

header h1 {
    display: flex;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    gap: 5px;
}

button {
    background-color: rgb(70, 7, 7);
    color: white;
    padding: 5px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: brown;
}